@page "/docs"
@model SocialMediaApi.Pages.IndexModel
<h1>Hi all</h1>

<script src="https://localhost:7134/mermaid.min.js"></script>
<pre class="mermaid">
            graph TD 
            A[Client] --> B[Load Balancer] 
            B --> C[Server1] 
            B --> D[Server2]
    </pre>

    And here is another:
<pre class="mermaid">
            graph TD 
            A[Client] -->|tcp_123| B
            B(Load Balancer) 
            B -->|tcp_456| C[Server1] 
            B -->|tcp_456| D[Server2]
    </pre>

<script type="module">
    import mermaid from 'mermaid.min.js';
    mermaid.initialize({ startOnLoad: true });
</script>


@{
}
