@page "/documentation/v1/feed"
@model SocialMediaApi.Pages.docs.feeds.GetFeedModel

<script src="/mermaid.min.js"></script>
<style>
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>

<div class="center">
    <p class="center">
        <h1 class="center">
            This endpoint is for getting posts for user
        </h1>
        <div class="mermaid center">
            @Model.Diagram
        </div>
    </p>
</div>
<script type="module">
    import mermaid from 'mermaid.min.js';
    mermaid.initialize({ startOnLoad: true });
</script>


@{
}

